/* EditQuote.css */
/* Contenedor del modal, por ejemplo */
.modal-container {
    position: relative; /* Asegura que el modal se posicione en relación a este contenedor */
    width: 100%;
    height: 100vh; /* O el tamaño que necesites */
}


/* Estilo para el modal */
.modal {
    position: absolute;
    top: 40%; /* Mueve el modal hacia abajo en la pantalla */
    left: 50%;
    transform: translate(-50%, 0); /* Centra horizontalmente el modal */
    width: 80%; /* Ajusta el ancho del modal */
    max-width: 800px; /* Ancho máximo del modal */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000; /* Asegúrate de que el modal esté encima de otros elementos */
}

/* Estilo para el contenido del modal */
.modal-content {
    font-size: 0.9rem; /* Reduce el tamaño del texto */
}

/* Estilo para los inputs y textareas dentro del modal */
.modal input, .modal textarea {
    font-size: 0.9rem; /* Reduce el tamaño del texto dentro de los campos */
    padding: 8px; /* Reduce el padding */
    border: 1px solid #ccc; /* Borde de los campos */
    border-radius: 4px; /* Bordes redondeados */
    width: calc(100% - 16px); /* Ajusta el ancho de los campos */
    margin-bottom: 10px; /* Espacio entre los campos */
}

/* Estilo para el botón de añadir línea */
.button-add-line {
    font-size: 0.9rem; /* Reduce el tamaño del texto del botón */
    padding: 8px 16px; /* Ajusta el padding del botón */
}

/* Estilo para el botón de actualizar */
button[type="submit"] {
    font-size: 0.9rem; /* Reduce el tamaño del texto del botón */
    padding: 10px 20px; /* Ajusta el padding del botón */
}
