/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; /* Permite el desplazamiento dentro del modal */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 80%;
    max-width: 777px;
    max-height: 75%; /* Limita la altura máxima del contenido del modal */
    overflow-y: auto; /* Permite el desplazamiento vertical dentro del modal */
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    color: grey; 
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave al cambiar el color */
}

.modal-close:hover {
    color: black; /* Color negro para la cruz */
    background-color: lightblue; /* Fondo azul al pasar el cursor */
}
