/* Estilos para el encabezado */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #003366; /* Azul marino oscuro */
  color: #ffffff; /* Blanco */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #003366; /* Azul marino oscuro */
  border-radius: 4px;
  width: 200px;
  margin-left: 20px;
}

.user-settings {
  display: flex;
  align-items: center;
}

.user-settings span {
  margin-left: 15px;
  cursor: pointer;
  color: #ffffff; /* Blanco */
}

/* Estilos para la navegación */
.nav {
  display: flex;
  justify-content: center;
  background-color: #004080; /* Azul marino medio */
  padding: 10px 0;
}

.nav-link {
  color: #ffffff; /* Blanco */
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #003366; /* Azul marino oscuro */
}

.active-link {
  background-color: #ffffff; /* Blanco */
  color: #003366; /* Azul marino oscuro */
}
